/* GAME PAGE STYLING*/

/* Roland (player one) and Walter (player two) DIVS*/

/* .roland, .walter {
position: relative;
}*/

html { 
  background: url("../images/tdt.gif") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
	font-family: 'Cinzel', serif;
}

h2 {
  font-size: 25px;
  font-weight: 700;
  color: #d6c59f;
  text-shadow: 1px 1px 0 #666;
  background: #222;
  border-radius: 5px;
  display: inline-block;
  padding: 5px 15px;
  margin: 5px 0 0 20px;
}

/* styles both player one and player two IMAGES)*/
.playerOne, .playerTwo {
  height: 250px;
  width: 160px;
  position: absolute;
  -webkit-animation: zoomInSlideIn 2s 1;
}

/* animation to fade in players*/
@-webkit-keyframes zoomInSlideIn {
  0% {
	-webkit-transform: scale(.7);
	opacity: 0;
	transform: translate(0px, 80px);
  }


  100%{
	-webkit-transform: scale(1);
	opacity: 1;
	transform: translate(0px, 0px);
  }
}



.walter {
  bottom: 0;
}

.playerTwo {
  bottom: 0;
  left: 200;
}


