/*LANDING PAGE STYLES*/
/*controls overall page qualities*/
* {
	font-family: 'Cinzel', serif;
	color: #d6c59f;
}
html { 
  background: url("../images/darktower.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-align: center;
}

/*controls styling for main content div*/
.landingContent {
	margin: 0 auto;
	-webkit-animation: zoomIn 10s 1;
}

/*animation to fade in main page content*/
@-webkit-keyframes zoomIn {
	0% {
		-webkit-transform: scale(.7);
		opacity: 0;
	}
	100%{
		-webkit-transform: scale(1);
		opacity: 1;
	}
}

/*styles main heading*/
.landingPage h1 {
	height: 100%;
	margin: 0 auto;
	margin-top: 68px;
	padding-top: 35px;
	font-size: 70px;
	font-weight: 700;
	color: #222;
	text-shadow: 3px 2px 2px #d6c59f;
}

/*styles subheading*/
.landingPage h2 {
	font-weight: 100;
	margin-bottom: 25px;
	padding: 0 10px;
}

/*styles 'play now' button*/
.playGameBtn {
	font-size: 40px;
	border: 2px solid #000;
	text-transform: uppercase;
	padding: 5px 25px;
	background: #222;
	margin: 20px 0 180px 0;
	border-radius: 5px;
}

.playGameBtn a {
	text-decoration: none;
}

/*adds hover quality to change button color*/
.playGameBtn:hover {
	background-color: rgba(30, 30, 30, 0.7);
}

/*MEDIA QUERIES*/
/*I have started with a mobile first design, and the below functions will change the design as the page width is widened*/
@media (min-width: 600px) {
	.landingPage h1 {
	margin: 220px 0 13px 0;
	padding-top: 15px;
	font-size: 90px;
	font-weight: 700;
	color: #222;
	text-shadow: 2px 2px 2px #d6c59f;
}
}
